 # Steps: 
 # 1. edit passwds below
 # 2. rename, remove the example extension
 # 3. run this command : nix-shell -p sops --run "sops --encrypt --in-place secrets.yaml"
 # it needs to be encrypted in place, before decrypting to ram by nixos

 # VELOCITY_SECRET is not actually all that declarative, you need to edit the secrets: line in the paper-global.yml file!

minecraft:
  RCON_PASSWORD: "kindaSecretPassword"
  RESTIC_PASSWORD: "SuperDuperSecretPassword"
  VELOCITY_SECRET: "SecretPassword"

minecraft_env: |
  RCON_PASSWORD=kindaSecretPassword
  RESTIC_PASSWORD=SuperDuperSecretPassword
  VELOCITY_SECRET=SecretPassword
