# Steps:
# 1. Edit the values below (keep YAML structure intact)
# 2. Rename this file to secrets.yaml (drop .example)
# 3. Encrypt: sops --encrypt --in-place secrets.yaml
#
# Usage:
#   sudo nix-shell -p sops --run "sops secrets.yaml"

matrix:
  registration_token: "CHANGEME"

coturn:
  static_auth_secret: "CHANGEME"
